<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="MyBookLibrary"/>
    <add key="AWSAccessKey" value="AKIAIKZZRYSI4XXMPQAQ"/>
    <add key="AWSSecretKey" value="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"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>